
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../Template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../Template/css/style.css" type="text/css">
    <style>
        #img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }

        .product-item {
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .featured__item {
            text-align: center;
        }

            .featured__item img {
                width: 80px;
                height: auto;
            }

        .featured__item__text {
            text-align: center;
        }

        .button-container {
            margin-top: 10px;
            .MenuTrang li

        {
            display: inline;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../Template/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="../Template/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>.
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-user"></i> Home</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        @*<li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>*@
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">

                            <div class="header__top__right__language">
                                <img src="../Template/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <div class="header__top__right__auth">
                                    @if (Session["UserName"] == null)
                                    {
                                        <a href="@Url.Action("Login", "Access")"><i class="fa fa-user"></i> Login</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Logout", "Access")"><i class="fa fa-user"></i> Logout</a>
                                    }
                                </div>
                                @*<a href="@Url.Action("Login", "Access")"><i class="fa fa-user"></i> Login</a>
                                    <a href="@Url.Action("Logout", "Access")"><i class="fa fa-user"></i> Logout</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        @*<a href="./index.html"><img src="../Template/img/logo.png" alt=""></a>*@
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul style="display: flex; justify-content: space-between;">
                            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-user"></i> Home</a></li>
                            <li class="active"><a href="@Url.Action("Index", "Home")">Shop</a></li>
                            <li><a href="@Url.Action("XemDonHang", "Cart", new { orderId = ViewBag.OrderID })">Xem Đơn Hàng</a></li>
                            @*<li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>*@
                            @*<li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>*@
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            @*<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>*@
                            <li><a href="@Url.Action("ListCarts", "Cart")"><i class="fa fa-shopping-bag"></i> <span></span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                   
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" name="searchString" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    @*<div class="hero__item set-bg" data-setbg="../Template/img/hero/banner-2.jpg">
                        <div class="hero__text">*@
                            @*<span>Electric store</span>
                            <h2>LapTop</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
    @RenderBody()
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    @*<section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../Template/img/categories/cat-1.jpg">
                            <h5><a href="#">ASUS LAPTOP</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../Template/img/categories/cat-2.jpg">
                            <h5><a href="#">LENOVO LAPTOP</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../Template/img/categories/cat-3.jpg">
                            <h5><a href="#">MACBOOK LAPTOP</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../Template/img/categories/cat-4.jpg">
                            <h5><a href="#">HP LAPTOP</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../Template/img/categories/cat-5.jpg">
                            <h5><a href="#">DELL LAPTOP</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <!--<section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured LAPTOP</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">ASUS</li>
                            <li data-filter=".fresh-meat">LENOVO</li>
                            <li data-filter=".vegetables">MACBOOK</li>
                            <li data-filter=".fastfood">DELL</li>
                            <li data-filter=".oranges">HP</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">-->
                @*@RenderBody()*@
            <!--</div>
        </div>
    </section>-->
    <!-- Featured Section End -->
    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../Template/img/categories/cat-4.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Why you should use HP Laptop</a></h5>
                            <p>Strong configuration, multiple function, fast</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../Template/img/categories/cat-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Lenovo LapTop</a></h5>
                            <p>A bigger display to show your products and ideas,Maximize productivity with customizable Multi-Window layouts</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../Template/img/categories/cat-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">MacBook for office</a></h5>
                            <p>he MacBook Series is designed to run the most popular games beautifully while smoothly operating a stream.The Streaming PC Series is built for quality, entry-level streams. It's an excellent build for multi-tasking, editing, and video rendering.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            @*<a href="./index.html"><img src="../Template/img/logo.png" alt=""></a>*@
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="../Template/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../Template/../Template/js/jquery-3.3.1.min.js"></script>
    <script src="../Template/../Template/js/bootstrap.min.js"></script>
    <script src="../Template/../Template/js/jquery.nice-select.min.js"></script>
    <script src="../Template/../Template/js/jquery-ui.min.js"></script>
    <script src="../Template/../Template/js/jquery.slicknav.js"></script>
    <script src="../Template/../Template/js/mixitup.min.js"></script>
    <script src="../Template/../Template/js/owl.carousel.min.js"></script>
    <script src="../Template/../Template/js/main.js"></script>



</body>

</html>
